---
import { siteConfig } from "../../../site.config";
import { fetchMarkdown } from "../../helpers/fetchMarkdown";
import { fetchProjectName } from "../../helpers/fetchProjectName";
import { fetchDescription } from "../../helpers/fetchDescription";
import rawUrl from "../../helpers/getRawReadmeUrl";
import RootLayout from "../../layouts/RootLayout.astro";
import Container from "../../components/Container.astro";

export function getStaticPaths() {
  return [
    ...siteConfig.projects.map((route) => {
      return {
        params: { slug: route.slug },
      };
    }),
  ];
}

const { slug } = Astro.params;
const projectData = siteConfig.projects.find(
  (project) => project.slug === slug
);

const projectName = await fetchProjectName(rawUrl(String(projectData?.repoUrl)));
const description = await fetchDescription(rawUrl(String(projectData?.repoUrl)));
const content = await fetchMarkdown(rawUrl(String(projectData?.repoUrl)));
---

<RootLayout title={projectName} description={description}>
  <Container>
  <a href="/#projects" class="">
    <button class="my-10">Back</button>
  </a>
  <article class="content" set:html={content} />
</Container>
</RootLayout>
