---
const { title, description, image, slug, topics } = Astro.props;
const getTopics = await topics;
---

<div class="grid grid-cols-1 gap-0 md:grid-cols-9 md:gap-5">
  <figure class="col-span-1 md:col-span-4">
    <img
      class="my-0 rounded-[10px] border border-gray-200"
      src={image || "https://placehold.co/600x400"}
      alt={slug}
    />
  </figure>
  <div
    class="col-span-1 mt-3 flex flex-col items-start justify-center gap-3 md:col-span-5 md:mt-0 md:gap-5"
  >
    <h3 class="my-0 text-2xl font-medium dark:text-gray-100">
      {title || "title"}
    </h3>
    <div class="flex gap-1">
      {
        getTopics.map((item: string) => (
          <p class="bg-cyan-100 p-0.5 font-mono font-semibold text-[10px] uppercase text-cyan-700 dark:text-white dark:bg-cyan-700 rounded">
            {item}
          </p>
        ))
      }
    </div>
    <div class="line-clamp-2 font-thin dark:text-gray-200">
      {description || "description"}
    </div>
    <a href={`/project/${slug}`}>
      <button>View</button>
    </a>
  </div>
</div>
