---
const currentYear = new Date().getFullYear();
---

<footer class="mt-20">
  <div class="bg-gray-50 py-5 text-center dark:bg-[#141414]">
    <p class="text-sm font-light text-gray-700 dark:text-gray-300">
      © {currentYear} · Crafted with ♥️ using
      <a
        class="hover:underline"
        target="_blank"
        href="https://github.com/bdsach/portfolio">Astro by Bandit</a
      >.
    </p>
  </div>
  <script src="https://unpkg.com/@studio-freight/lenis@1.0.32/dist/lenis.min.js"
  ></script>
  <script src="https://code.iconify.design/3/3.1.0/iconify.min.js"></script>
  <script
    src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"
  ></script>
  <script src="../js/main"></script>
</footer>
