---
const currentYear = new Date().getFullYear();
---

<footer class="mt-20">
  <div class="bg-gray-50 text-center py-5">
    <p class="text-sm text-gray-700 font-light">
      © {currentYear} · Crafted with ♥️ using <a class="hover:underline" target="_blank" href="https://github.com/bdsach/portfolio">Astro by Bandit</a>.
    </p>
  </div>
  <script src="https://unpkg.com/@studio-freight/lenis@1.0.32/dist/lenis.min.js"
  ></script>
  <script src="https://code.iconify.design/3/3.1.0/iconify.min.js"></script>
  <script
    src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"
  ></script>
  <script src="../js/main"></script>
</footer>
