---
const currentYear = new Date().getFullYear();
---

<footer class="pt-40">
  <div class="bg-gray-50 text-center py-5">
    <p class="text-sm text-gray-700 font-light">© {currentYear}</p>
  </div>
  <script src="https://unpkg.com/@studio-freight/lenis@1.0.32/dist/lenis.min.js"
  ></script>
  <script src="../js/main"></script>
</footer>
