---

---
<section>
    <h2 class="head-section">Contact Me</h2>
    <p class="font-extralight text-xl leading-relaxed">Hey there! Whether you have questions, ideas, or just want to chat, I'm only a click away. Feel free to connect with me through GitHub, drop me an email, or reach out on Twitter.</p>

    <div class="flex gap-4 mt-5">
        <!-- GitHub -->
        <a href="https://github.com/bdsach" target="_blank">
            <button class="social-icon">
                <span class="iconify text-xl" data-icon="mdi:github"></span>
            </button>
        </a>

        <!-- Email -->
        <a href="mailto:bds_si@hotmail.com" target="_blank">
            <button class="social-icon">
                <span class="iconify text-xl" data-icon="mdi:at"></span>
            </button>
        </a>

        <!-- Twitter -->
        <a href="https://twitter.com/bds_sil" target="_blank">
            <button class="social-icon">
                <span class="iconify text-xl" data-icon="simple-icons:x"></span>
            </button>
            
        </a>
    </div>
</section>
