---
import Container from "../components/Container.astro"
---

<Container>
  <h2 class="head-section">Get in touch</h2>
  <p class="font-extralight text-xl leading-relaxed">
    If you have any questions or want to work together, feel free to reach out
    to me.
  </p>

  <div class="flex gap-4 mt-5">
    <!-- GitHub -->
    <a href="https://github.com/bdsach" target="_blank">
      <button class="social-icon">
        <span class="iconify text-xl" data-icon="mdi:github"></span>
      </button>
    </a>

    <!-- Email -->
    <a href="mailto:bds_si@hotmail.com" target="_blank">
      <button class="social-icon">
        <span class="iconify text-xl" data-icon="mdi:at"></span>
      </button>
    </a>

    <!-- Twitter -->
    <a href="https://twitter.com/bds_sil" target="_blank">
      <button class="social-icon">
        <span class="iconify text-xl" data-icon="simple-icons:x"></span>
      </button>
    </a>
  </div>
</Container>
