---
import { ClientRouter } from 'astro:transitions';
import { fade } from "astro:transitions";
import "../styles/global.css";
import Footer from "../components/Footer.astro";
const { title, description } = Astro.props;
import { siteConfig } from "../../site.config";
---

<html lang="en" transition:animate="none">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title || siteConfig.title}</title>
    <meta name="description" content={description || siteConfig.description} />
    <ClientRouter />
  </head>
  <body>
    <div transition:animate={fade({ duration: "0.4s" })}>
      <slot />
    </div>
    <Footer />
  </body>
</html>
